body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header.scrolled {
    padding: 10px;
    background-color: #eee;
}

header img {
    width: 150px;
}

header h1 {
    margin-top: 10px;
    color: #333;
}

.hero img {
    height: auto;
    width: 400px;
    object-fit: contain;
    display: block;
    opacity: 1;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
}

.hero .overlay {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

/* Adjust the transparency of the background image by modifying the opacity property in the .hero img selector. */

.hero .overlay a {
    color: #fff;
    text-decoration: none;
    font-size: 2.8em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero .overlay a:hover {
    transform: scale(1.1);
}

.image-container {
    position: relative;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Set height to 100% of viewport height */
    background-image: url('../imgs/San_Fabian_Pangasinan_2.jpg');
    background-size: cover;
    background-position: center;
}


.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value for transparency */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .logo-overlay {
        width: 200px;
        height: 200px;
    }

    .hero .overlay a {
        font-size: 1.3em;
    }
}
